@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@*Personal Data*@
<h3>@Localizer["1"]</h3>

<br>

<p></p>
<partial name="_StatusMessage" for="StatusMessage" />
<div asp-validation-summary="All" class="text-danger"></div>
<p></p>

<div class="row">
    <div class="col-md-6">
        @*Your account contains personal data that you have given us. This page allows you to delete that data.*@
        <p>@Localizer["2"]</p>
        <p>
            @*Deleting this data will permanently remove your account, and this cannot be recovered.*@
            <strong>@Localizer["3"]</strong>
        </p>
        @*<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>*@
        <p>
            @*Delete*@
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">@Localizer["4"]</a>
        </p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
