USE [UnikktleMentorWeb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [mst].[tCareer](
	[No]					[int] 			NOT NULL,
	[CareerCategoryNo]		[int] 			NOT NULL,
	[CareerName]			[varchar](100)	NOT NULL,
	[CareerName_JA]			[varchar](50)	NOT NULL,
CONSTRAINT [PK_mst_tCareer] PRIMARY KEY CLUSTERED
(
	[No] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF	, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mst_Career_CareerName] ON [mst].[tCareer]
(
	[CareerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_mst_CareerName_JA] ON [mst].[tCareer]
(
	[CareerName_JA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO


INSERT INTO [mst].[tCareer] ([No], [CareerCategoryNo], [CareerName], [CareerName_JA]) VALUES (1,1,'Doctor','医師');
INSERT INTO [mst].[tCareer] ([No], [CareerCategoryNo], [CareerName], [CareerName_JA]) VALUES (2,1,'Pharmacist','薬剤師');
INSERT INTO [mst].[tCareer] ([No], [CareerCategoryNo], [CareerName], [CareerName_JA]) VALUES (3,1,'Nurse','看護師');
