@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "/Views/Shared/_LayoutAbout.cshtml";
}


<div class="Fx5">
    <h1>@Localizer["1"]</h1>
    <p></p>
    <p>@Localizer["2"]</p>
</div>
