/*
    White基調
*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* 3行を超えたらでも3つの点でまるめる */
.ms1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* 
-------------------------------------------------- */
.Nowrap {
    white-space: nowrap;
}

a {
    color: blue;
}

hr.s1 {
    border-top: 2px solid #000000;
}

.F3vi {
    color: #464446;
    margin: 0 !important
}

.Fx4vi {
    padding-left: 27px;
    color: #464446;
    margin: 0 !important
}

.Fx5 {
    color: #000000;
}

.Fx6 {
    background-color: #eafff4;
}

.Text {
    /*font-family: 'VL Gothic';*/
    font-size: 15px;
}

.pt {
    width: 100%;
    display: flex;
}

.ch {
    width: 450px;
    margin: 15px;
}

.ch2 {
    width: 600px;
    margin: 15px;
}

.dh {
    width: 600px;
    margin: 15px;
}

.dh2 {
    width: 400px;
    margin: 15px;
}

.cs {
    width: 100%;
    margin: 5px;
}

.ci {
    width: 80%;
    margin: 5px;
}

.cn {
    width: 20%;
    margin: 5px;
}

.octicon-zap {
    color: yellow;
}

.ind {
    display: inline-block; /* インラインブロック要素にする */
    padding: 10px; /* 余白指定 */
}


